{% include 'partials/header.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <style>
        table {border: 1px solid-black;}

        .checked {
            color: orange;
            }
    </style>
    <a href="/recipes" > <<< Back</a>

    <table class="wrapper">

        {% if recipe %}
            <tr>
                <th rowspan="3" width="10%" >
                    <img src="/recipes{{recipe.photo.url}}" width="120" height="120" border="1">
                </th>

                <td><b>{{recipe.title}}</b></td>
            </tr>
            <tr>
                {% if recipe.rating == 1 %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </td>
                {% endif %}
                {% if recipe.rating == 2 %}
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </td>
                {% endif %}

                {% if recipe.rating == 3 %}
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </td>
                {% endif %}

                {% if recipe.rating == 4 %}
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </td>
                {% endif %}

                {% if recipe.rating == 5 %}
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <b>Prep:</b> {{recipe.prep_time}}
                    <b>Cook:</b> {{recipe.cooking_time}} minutes
                    <b>Makes:</b> {{recipe.servings}} serves
                </td>
            </tr>

            {% endif %}
        </table>

    <table style="width:100%">
        <tr>
            <td><b> Ingredients </b>
                <p>{{dir(recipe.ingredient)}}</p>
            <p> {{recipe.ingredient}} </p>
            </td>

            <td><b> Directions </b></td>
            <p> {{recipe.directions}} </p>
        </tr>
    </table>
{% include 'partials/footer.html' %}